extends layout

block content
  .container
  h1 About Us
  p I'm just making a website following some instructions and tutorials, but hopefully this will offer a good example of how even a dunce like me can pick up these skills with a ton of effort and commitment. So, why not give it a shot yourself???
  ul Why am I learning this?
    li To challenge myself
    li To become more skilled, therefore more marketable
    li To build something awesome
  p These are all good reasons why I learn code. What are your reasons to start?
