extends layout

block content

  .jumbotron
    .container
      h1 How May I Help You?
      P Hello Hello Hello Sat Sri Akal
      a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
  .container
    .row
      .col-md-4
        h2 About Us
        P I didn't have latin text to put in here
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Services
        P Something really valuable omg
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Get In Touch
        P Here's how to contact us, soon!
        a.btn.btn-default(href='#') View Details
